@page
@model FifyFiveShop.Pages.FiftyFiveShop.CreateRuleModel
<br />
<h2 class="text-info">Create New Product Rule</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PriceRule.SKU"></label>
            </div>
            <div class="col-6">
                <input asp-for="PriceRule.SKU" class="form-control" />
            </div>
            <span asp-validation-for="PriceRule.SKU" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PriceRule.Quantity"></label>
            </div>
            <div class="col-6">
                <input asp-for="PriceRule.Quantity" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PriceRule.Price"></label>
            </div>
            <div class="col-6">
                <input asp-for="PriceRule.Price" class="form-control" />
            </div>

        </div>

        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to Product List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}